<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Wild Shape Tool</title>
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:400,700" rel="stylesheet">
		<link href="style/main.css" rel="stylesheet">
		<link rel="icon" href="images/favicon-32.png">
	</head>

	<body>
		<div v-cloak id="app">
			<div id="tools" class="row">
				<div class="row">
					<label>Druid Circle: </label>
					<input type="radio" name="circle" id="land" value="Land" v-model="circle">
					<input type="radio" name="circle" id="moon" value="Moon" v-model="circle">
				</div>
				<div class="row">
					<label for="druidlevel">Druid Level: </label>
					<button id="minus" class="leveling" :class="{ invisible: level <= 2 }" v-on:click="decrement">&minus;</button>
					<input type="number" id="druidlevel" name="druidlevel" min="1" max="20" v-model="level">
					<button id="plus" class="leveling" :class="{ invisible: level >= 20 }" v-on:click="increment()">&plus;</button>
				</div>
				<div id="search" class="row">
					<label for="filter">Filter: </label>
					<input id="filter" name="filter" type="text" v-model="search">
				</div>
				<div class="row">
					<button id="view-all" v-on:click="view.all = !view.all">{{ view.text }}</button>
				</div>
				<div class="row">
					<label for="sort">Sort By: </label>
					<div class="select-wrapper">
						<select id="sort" name="sort" v-model="sort">
							<option value="name">Name</option>
							<option value="size">Size</option>
							<option value="challenge">Challenge Rating</option>
						</select>
						<button v-on:click="reverseToggle = !reverseToggle">&#x21c5;</button>
					</div>
				</div>
			</div>
			<div id="message" v-if="message" class="row">
				<p>{{ message }}</p>
			</div>
			
			<main>
				<div v-for="beast in filteredBeasts">
					<div class="info row">
						<h4 class="name">{{ beast.name }}</h4>
						<p class="size"><i>{{ beast.size }} beast, {{ (beast.alignment).replace('.5', '1/2') }}</i></p>
						<p>CR: {{ beast.challenge | fraction}}</p>
					</div>
					<div class="acHpSpd row">
						<div>
							<b>AC:</b> {{ beast.ac }}</div>
						<div>
							<b>HP:</b> {{ beast.hp }}</div>
						<div>
							<b>Spd:</b> {{ beast.speed }}</div>
					</div>
					<div class="actions">
						<h3 v-if="beast.traits">Traits</h3>
						<div v-if="beast.traits" v-html="beast.traits" class="traits">
						
						</div>
						<h3 v-if="beast.actions">Actions</h3>
						<div v-html="beast.actions">
							
						</div>
					</div>
					<div class="stats row">
						<div>STR
							<br>
							<small>{{beast.STR_mod }}</small>
						</div>
						<div>DEX
							<br>
							<small>{{beast.DEX_mod }}</small>
						</div>
						<div>CON
							<br>
							<small>{{beast.CON_mod }}</small>
						</div>
						<div>INT
							<br>
							<small>{{beast.INT_mod }}</small>
						</div>
						<div>WIS
							<br>
							<small>{{beast.WIS_mod }}</small>
						</div>
						<div>CHA
							<br>
							<small>{{beast.CHA_mod }}</small>
						</div>
					</div>
				</div>
			</main>
			<footer>Wild Shape Tool by <a href="https://github.com/acaggiano" target="_blank">Anthony Caggiano</a>. Beast data taken from the <a href="http://dnd.wizards.com/articles/features/systems-reference-document-srd" target="_blank">5e SRD</a>.</footer>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="scripts/main.js"></script>
	</body>

</html>